<div class="container container--align-center">
  <h1>Gitaar</h1>

  <h5>Welcome to the best collaboration tool!</h5>

  {{#link-to 'home' tagName="button"}}Get me in!{{/link-to}}
</div>


{{outlet}}
